<?xml version="1.0"?>
<!--
/**
 * Standard_SedecoRedondeo
 * Declara plugins e inyecciones de dependencia para el módulo.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Total de Invoice para PDF y vista Backend -->
    <type name="Magento\Sales\Model\Order\Invoice">
        <plugin name="sedeco_redondeo_invoice_total"
                type="Standard\SedecoRedondeo\Plugin\Sales\Model\Order\Invoice"
                sortOrder="10"/>
    </type>

</config>
